    // main SASS file
    @import "sass-partials/_variables";
    @import "sass-partials/_queries";
    @import "sass-partials/_mixins";
    @import "sass-partials/_bg-content1";
    @import "sass-partials/_bg-content2";
    @import "sass-partials/_bg-focal";
    @import "sass-partials/_bg-footer";
    @import "sass-partials/_bg-header";
    * {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *:after,
    *:before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
    
    html {
        font-size: 16px;
        font-family: $sans-serif;
        /* default for whole page */
        line-height: 1.6;
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-family: $serif;
        /* serif for the headings */
    }
    
    ul {
        list-style: none;
    }
    /***********************************************
                SPECIAL
***********************************************/
    
    .clearfix:after {
        display: table;
        clear: both;
        content: "";
    }
    /***********************************************
                LAYOUT
***********************************************/
    
    .row {
        clear: both;
    }
    
    .col-2 {
        width: 50%;
        float: left;
        padding-bottom: 2rem;
        border-left: 1px solid $dark-blue;
        margin-bottom: 2rem;
    }
    
    @media all and (min-width:701px) and (max-width:900px) {
        section.focal,
        section.content1,
        section.content2,
        footer {
            width: 700px;
            margin: 0 auto;
        }
        .col-4 {
            width: 50%;
            float: left;
        }
        section.content2 {
            h4 {
                font-size: 1.414rem;
            }
            li {
                font-size: 1.414rem;
            }
        }
    }
    
    @media all and (min-width:901px) and (max-width: 1400px) {
        section.focal,
        section.content1,
        section.content2,
        footer {
            width: 900px;
            margin: 0 auto;
        }
        section.focal {
            h2 {
                width: 600px;
                margin: 0 auto;
            }
            p.author {
                width: 600px;
                margin: 0 auto;
            }
        }
        .col-3 {
            float: left;
            width: 30%;
            margin-left: 5%;
            &:first-child {
                margin-left: 0;
            }
        }
        .col-4 {
            width: 22%;
            margin-left: 4%;
            float: left;
            &:first-child {
                margin-left: 0;
            }
        }
        section.content1 h3 {
            font-size: 1.999rem;
            font-weight: 100;
            &.fa-2x {
                font-size: 1.999rem;
                padding-right: 1rem;
            }
        }
        section.content2 {
            h4 {
                font-size: 1.414rem;
            }
            li {
                font-size: 1.414rem;
            }
            p {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
    
    @media all and (min-width:1401px) {
        section.focal,
        section.content1,
        section.content2,
        footer {
            width: 1400px;
            margin: 0 auto;
        }
        section.focal {
            h2 {
                font-size: 3.998rem;
                width: 600px;
                margin: 0 auto;
            }
            p.author {
                width: 600px;
                margin: 0 auto;
            }
        }
        .col-3 {
            float: left;
            width: 30%;
            margin-left: 5%;
            &:first-child {
                margin-left: 0;
            }
        }
        .col-4 {
            width: 22%;
            margin-left: 4%;
            float: left;
            &:first-child {
                margin-left: 0;
            }
        }
        section.content1 h3 {
            font-size: 2.827rem;
            font-weight: 100;
            .fa-2x {
                font-size: 2.827rem;
                padding-right: 1rem;
                vertical-align: middle;
            }
        }
        section.content2 {
            h4 {
                font-size: 1.999rem;
            }
            li {
                font-size: 1.999rem;
            }
            p {
                font-size: 1.414rem;
                font-weight: 400;
            }
        }
    }