.bg-content1 {
    background-color: $white;
    color: $dark-grey;
}

.content1 {
    h3 {
        font-size: 1.999rem;
        padding: 0.2rem 2rem 2rem;
        i {
            vertical-align: middle;
            padding-right: 2rem;
        }
    }
    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}